{
    "parser": "@typescript-eslint/parser",
    "parserOptions": {
        "ecmaVersion": 2018,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        },
        "project": "./tsconfig.json"
    },
    "settings": {
        "import/resolver": {
            "node": {
                "extensions": [
                    ".ts",
                    ".d.ts",
                    ".tsx",
                    ".json"
                ]
            }
        }
    },
    "extends": [
        "react-app",
        "airbnb",
        "plugin:@typescript-eslint/recommended",
        "plugin:@typescript-eslint/recommended-requiring-type-checking",
        "prettier",
        "prettier/react",
        "prettier/@typescript-eslint"
    ],
    "plugins": [
        "@typescript-eslint",
        "prettier"
    ],
    "rules": {
        "@typescript-eslint/no-unused-vars": "off",
        "@typescript-eslint/no-unused-vars-experimental": "error",
        "@typescript-eslint/explicit-module-boundary-types": "off",
        "prettier/prettier": "error",
        "react/jsx-filename-extension": [
            1,
            {
                "extensions": [
                    ".ts",
                    ".tsx",
                    ".js",
                    ".jsx"
                ]
            }
        ],
        "react/jsx-props-no-spreading": 0,
        "react/prop-types": 0,
        "@typescript-eslint/prefer-regexp-exec": 0,
        "@typescript-eslint/no-var-requires": 0,
        "import/no-unresolved": 0,
        "import/extensions": [
            "error",
            "ignorePackages",
            {
                "js": "never",
                "jsx": "never",
                "ts": "never",
                "tsx": "never"
            }
        ]
    }
}