@media (min-width: 576px) {
	.container {
		display: flex;
		align-items: center;
		justify-content: center;
		height: 100vh;
		background-color: rgb(209, 216, 255);
	}
	.container img {
		width: 60px;
		height: 60px;
		padding: 3px;
	}
}